numpy==2.2.1
jax[cuda12]==0.4.34; platform_machine == "x86_64" and platform_system == "Linux"
jax==0.4.35; platform_machine == "x86_64" and platform_system == "Darwin"
jax==0.4.35; platform_machine == "arm64" and platform_system == "Darwin"
