@import './fonts.css';
@import './post.css';

:root {
  --content-width: 35rem;

  --sans: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  --serif: Besley, Baskerville, Georgia, 'Times New Roman', Times, serif;
  --mono: 'SF Mono', SFMono-Regular, monospace;

  --font-size-s: 0.8125rem;
  --font-size-m: 0.9375rem;
  --font-size-l: 1.0625rem;

  --font-weight-light: 350;
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  --spacing-s: -0.08em;
  --spacing-m: -0.02em;

  --bg: #ffffff;
  --text-primary: rgba(0, 0, 0, 0.85);
  --text-secondary: rgba(0, 0, 0, 0.4);
  --text-tertiary: rgba(0, 0, 0, 0.24);
  --border: rgba(0, 0, 0, 0.1);
  --selection: rgba(0, 0, 0, 0.08);
  --code-bg: rgba(0, 0, 0, 0.04);
  --mark: #f3ffc4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1c1c;
    --text-primary: rgba(255, 255, 255, 0.9);
    --text-secondary: rgba(255, 255, 255, 0.4);
    --text-tertiary: rgba(255, 255, 255, 0.24);
    --border: rgba(255, 255, 255, 0.1);
    --selection: rgba(255, 255, 255, 0.08);
    --code-bg: rgba(255, 255, 255, 0.04);
    --mark: #545b37;
  }
}

html {
  background-color: var(--bg);
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--sans);
  font-feature-settings: 'ss03' 1;
  font-size: var(--font-size-m);
  line-height: 1.75;
  color: var(--text-primary);
  margin: 0 auto;
  max-width: var(--content-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  letter-spacing: var(--spacing-m);
  padding: 6rem 1.5rem 1.5rem 1.5rem;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  body {
    padding: 4rem 1.35rem 1.35rem 1.35rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}

::selection {
  background-color: var(--selection);
}

:focus-visible {
  outline: 1.5px dashed var(--text-tertiary);
  border-radius: 0.25rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text-primary);
  text-decoration: underline;
  text-decoration-color: var(--text-tertiary);
  transition: text-decoration-color 0.2s ease-out;
}

a:hover {
  text-decoration-color: var(--text-primary);
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
