---
import { SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog', ({ data }) =>
	import.meta.env.PROD ? data.draft !== true : true
);

const hasBlog = blogPosts.length > 0;
---

<header>
	<nav>
		<a href="/">{SITE_TITLE}</a>
		<div class="links">
			{hasBlog && <a href="/">Blog</a>}
			<a href="/vgc/">VGC</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
	}
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	header a {
		font-weight: var(--font-weight-bold);
		color: var(--text-primary);
		text-decoration: none;
	}
	.links {
		display: flex;
		gap: 1rem;
	}
	.links a {
		font-weight: var(--font-weight-regular);
		color: var(--text-secondary);
		transition: color 0.2s ease-out;
	}
	.links a:hover {
		color: var(--text-primary);
	}
</style>
